<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.work4.mapper.UserBlackMapper">
    <select id="getBlackListByUserId" resultType="String">
        select black_id
        from user_black
        where user_id=#{userId}
    </select>
</mapper>